header{
	margin-top: 30px;
}
h1 {
	font-family: 'Noto Serif', serif;
	text-align:center;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}

ul{
	width: 70%;
	margin: 50px 30px;
}
li{
	list-style: none;
	margin-top: 20px;
}